<!DOCTYPE html>
<html lang="en" ng-app="wowPlaces">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/icon.gif" type="image/x-icon"/>
    <title>WoWPlaces</title>
    
    <!-- Bootstrap -->
    <!--build:css css/styles.min.css-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/my-styles.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <!--endbuild-->

    <!-- angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> 
</head>

<body>
    <nav class="navbar navbar-fixed-top" role="navigation" ng-controller="topMenuCtrl as nav" ng-cloak>
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="objects"> 
                    <img src="img/logo.png"> 
                </a>

                <ul class="nav pull-left visible-xs">
                    <li ng-class="{ 'open': nav.isMenuOpen }">
                        <a href class="menu-a" ng-click="nav.toggleMenu()">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>     
        
                <div class="hidden-xs pull-left">
                    <div ng-include="'app/top-menu/menuValues.html'"></div> 
                </div>

                <ul class="nav pull-right">
                    <li ng-controller="authCtrl as auth" ng-class="{ 'open': auth.openForm }"> 
                        <a href class="menu-a menu-a-auth pull-right" ng-click="auth.toggleForm()">
                            <span ng-if="!auth.isLogined">войти/регистрация</span>
                            <span ng-if="auth.isLogined">{{auth.userData.name}}</span>
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                        </a>                 
                        <div class="auth-form" ng-if="!auth.isLogined && auth.openForm">
                            <form method="post" ng-submit="auth.authenticate()">
                                <div class="form-group">
                                    <label for="email">Ваш email</label>
                                    <input class="form-control" type="email" name="email" ng-model="auth.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Ваш пароль</label>
                                    <input class="form-control" type="password" name="password" ng-model="auth.password" required>
                                </div>
                                <div class="error" ng-if="auth.loginError">некорректный логин или пароль</div>
                                <button type="submit" class="btn btn-success btn-sm">войти</button>                               
                                <a ui-sref="register" class="btn btn-primary btn-sm" ng-click="auth.toggleForm()">регистрация</a>
                            </form>
                        </div>
                        <div class="auth-form" ng-if="auth.isLogined && auth.openForm">
                            <form method="post" ng-submit="auth.logout()">
                                <div>
                                    {{auth.userData.email}}
                                </div>    
                                <hr>
                                <button type="submit" class="btn btn-success">выйти</button>
                            </form>
                        </div>  
                    </li>
                </ul>           
            </div> 
            <div ng-if="nav.isMenuOpen" class="mobile-menu visible-xs" ng-click="nav.toggleMenu()">
                <div ng-include="'app/top-menu/menuValues.html'"></div>
            </div>
        </div>
    </nav>
   
    <div class="container-fluid main-content">
        <div ui-view></div>
    </div>

    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrN-YAJyiGJH5MQlq5AqRMM1q-Ls_yRxk&libraries=places"></script>

    <!--build:app app/app.min.js -->
    <script src="app/app.js"></script> 
    <script src="app/top-menu/topMenuCtrl.js"></script>
    <!-- endbuild -->

    <!--build:app common/directives.js -->
    <script src="common/directives/map/mapDirective.js"></script>
    <!-- endbuild -->
  
    <!--build:app common/services.js -->
    <script src="common/services/map/objectControlService.js"></script>
    <!-- endbuild -->    
    
    <!--build:app app/objects.min.js -->
    <script src="app/map/objectsCtrl.js"></script>
    <script src="app/map/markerDirective.js"></script>
    <script src="app/map/markerContextDirective.js"></script>
    <script src="app/map/markerInfoDirective.js"></script>
    <script src="app/vote/voteService.js"></script>
    <!-- endbuild -->

    <!--build:app app/auth.min.js -->
    <script src="app/auth/authService.js"></script>
    <script src="app/auth/authCtrl.js"></script>
    <script src="app/auth/registerCtrl.js"></script>
    <script src="app/auth/registerApproveCtrl.js"></script>
    <!-- endbuild -->
    
    <!--build:app app/place-control.min.js -->
    <script src="app/place-control/placeControlCtrl.js"></script>
    <script src="app/place-control/markerControlDirective.js"></script>
    <!-- endbuild -->
    
    <!--build:app app/tourist-guide.min.js -->
    <script src="app/tourist-guide/touristGuideCtrl.js"></script>
    <!-- endbuild -->
</body>
</html>
